body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
}
.p{
    color: white;
    font-size: 50px;
}
.main{
    display: flex;
    min-height: 400px;
}
.nav,.sidebar{
    flex: 1;
}
.header,.footer{
flex: 0 0 5;
}
article{
    background-color: coral;
    flex: 2 2 10%;
}